<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание экстренной консультации</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<header class="row" style="display: flex;justify-content: space-between;width: 100%">
    <div style="padding-left: 1em"><h1>Создание экстренной консультации</h1></div>
    <div class="row">
        <form style="padding-top: 0.4em" th:action="@{/}" method="get">
            <button class="btn-sm btn-secondary" type="submit"
            >Главная
            </button>
        </form>
        <form style="padding-top: 0.4em;padding-left: 0.4em; padding-right: 0.4em" th:action="@{/logout}" method="post">
            <button class="btn-sm btn-secondary" type="submit">Log out</button>
        </form>
    </div>
</header>

</body>
</html>