<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<div class="wrapper">
    <div class="fade-in container">
        <h1>Welcome</h1>

        <form class="form needs-validation" id="form" enctype="multipart/form-data" th:object="${form}" method="post">
            <div style="margin-bottom: 1em">
                <input type="text" id="username" th:field="*{username}"
                       th:value="${form.username}" required placeholder="Username">
                <small style="color: red" th:if="${usernameFailed!=null&&usernameFailed}"
                       th:text="${messageUsername}"></small>
            </div>
            <div style="margin-bottom: 1em">
            <input id="password" placeholder="********" th:field="*{password}"
                   type="password" th:value="${form.password}" required>
            <small style="color: red" th:if="${passwordFailed!=null&&passwordFailed}"
                   th:text="${messagePassword}"></small>
            </div>
            <button type="submit" id="login-button" value="Submit">Login</button>
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
        </form>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="../js/script.js"></script>

</body>
</html>